<div class="form-group">
	{% include 'common/snippets/form/field_label.html' %}
	<input id="{{ field.id_for_label }}"
		class="form-control
			{% if form.errors %}
				is-{% if field.errors %}in{% endif %}valid
			{% endif %}
			"
		type="number"
		name="{{ field.html_name }}"
		step="any"
		{% if field.value %}
			value="{{ field.value }}"
		{% endif %}
		{% if field.field.required %}
			required
		{% endif %}
		{% if field.field.max_length %}
			maxlength="{{ field.field.max_length }}"
		{% endif %}
		{% if field.field.min_value %}
			min="{{ field.field.min_value }}"
		{% endif %}
		{% if field.field.max_value %}
			max="{{ field.field.max_value }}"
		{% endif %}
		/>
	{% include 'common/snippets/form/field_errors.html' %}
</div>
