<div class="form-group">
	{% include 'common/snippets/form/field_label.html' %}
	<textarea id="{{ field.id_for_label }}"
		class="form-control
			{% if form.errors %}
				is-{% if field.errors %}in{% endif %}valid
			{% endif %}
			"
		rows="3"
		name="{{ field.html_name }}"
		{% if field.value %}
			value="{{ field.value }}"
		{% endif %}
		{% if field.field.required %}
			required
		{% endif %}
		{% if field.field.max_length %}
			maxlength="{{ field.field.max_length }}"
		{% endif %}
		>{% if field.value %}{{ field.value }}{% endif %}</textarea>
	{% include 'common/snippets/form/field_errors.html' %}
</div>
