{%raw%}{% {%endraw%}extends '{{cookiecutter.project_slug}}/content.html'{%raw%} %}{%endraw%}


{%raw%}{% {%endraw%}block content{%raw%} %}{%endraw%}

	<div class="row">
		<div class="col-12">
			<div class="card {%if cookiecutter.mdbootstrap%}grey lighten-5{%else%}bg-light{%endif%} my-5">
				<div class="card-body">
					<p class="card-text text-center{%if not cookiecutter.mdbootstrap%} text-secondary{%endif%}">
						Hello World!
					</p>
				</div>
			</div>
		</div>
	</div>

{%raw%}{% {%endraw%}endblock content{%raw%} %}{%endraw%}
