[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
libsass = "*"
django-compressor = "*"

[packages]
django = "*"
django-waitress = "*"
django-sass-processor = "*"

[requires]
python_version = "3"
