{# Javascript libraries. #}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

{# Configure toastr. #}
<script>
	toastr.options.positionClass = 'toast-bottom-right';
	toastr.options.progressBar = true;
	{# Required for compatibility with bootstrap >=4.2. #}
	toastr.options.toastClass = 'toastr';
</script>
