{%raw%}{% {%endraw%}load class_filters{%raw%} %}{%endraw%}


<div class="form-block">

	{%raw%}{# {%endraw%}Non-field errors.{%raw%} #}{%endraw%}
	{%raw%}{% {%endraw%}for error in form.non_field_errors{%raw%} %}{%endraw%}
		<div class="alert alert-danger alert-dismissable my-2">
			<button class="close"
				type="button"
				data-dismiss="alert">
				&times;
			</button>
			<span>{%raw%}{{ {%endraw%}error{%raw%} }}{%endraw%}</span>
		</div>
	{%raw%}{% {%endraw%}endfor{%raw%} %}{%endraw%}

	{%raw%}{% {%endraw%}for field in form{%raw%} %}{%endraw%}
		{%raw%}{% {%endraw%}with type=field.field.widget|cls{%raw%} %}{%endraw%}

			{%raw%}{# {%endraw%}Field errors.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}for error in field.errors{%raw%} %}{%endraw%}
				<div class="alert alert-danger alert-dismissable my-2">
					<button class="close"
						type="button"
						data-dismiss="alert">
						&times;
					</button>
					<span>{%raw%}{{ {%endraw%}error{%raw%} }}{%endraw%}</span>
				</div>
			{%raw%}{% {%endraw%}endfor{%raw%} %}{%endraw%}

			{%raw%}{# {%endraw%}Hidden.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}if type == 'HiddenInput'{%raw%} %}{%endraw%}
				{%raw%}{{ {%endraw%}field{%raw%} }}{%endraw%}

			{%raw%}{# {%endraw%}Text.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'TextInput'{%raw%} %}{%endraw%}
				<div class="form-group">
					<input id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="form-control"
						type="text"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}
							value="{%raw%}{{ {%endraw%}field.value{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.max_length{%raw%} %}{%endraw%}
							maxlength="{%raw%}{{ {%endraw%}field.field.max_length{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						placeholder="{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}" />
				</div>

			{%raw%}{# {%endraw%}Password.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'PasswordInput'{%raw%} %}{%endraw%}
				<div class="form-group">
					<input
						id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="form-control"
						type="password"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}
							value="{%raw%}{{ {%endraw%}field.value{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.max_length{%raw%} %}{%endraw%}
							maxlength="{%raw%}{{ {%endraw%}field.field.max_length{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						placeholder="{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}" />
				</div>

			{%raw%}{# {%endraw%}Email.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'EmailInput'{%raw%} %}{%endraw%}
				<div class="form-group">
					<input id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="form-control"
						type="email"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}
							value="{%raw%}{{ {%endraw%}field.value{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.max_length{%raw%} %}{%endraw%}
							maxlength="{%raw%}{{ {%endraw%}field.field.max_length{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						placeholder="{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}" />
				</div>

			{%raw%}{# {%endraw%}URL.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'URLInput'{%raw%} %}{%endraw%}
				<div class="form-group">
					<input id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="form-control"
						type="text"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}
							value="{%raw%}{{ {%endraw%}field.value{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.max_length{%raw%} %}{%endraw%}
							maxlength="{%raw%}{{ {%endraw%}field.field.max_length{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						placeholder="{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}" />
				</div>

			{%raw%}{# {%endraw%}Select.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'Select'{%raw%} %}{%endraw%}
				<div class="form-group">
					<label for="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}">
						{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}
					</label>
					<select id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="form-control"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						>
						{%raw%}{% {%endraw%}for name, display in field.field.choices{%raw%} %}{%endraw%}
							<option value="{%raw%}{{ {%endraw%}name{%raw%} }}{%endraw%}"
								{%raw%}{% {%endraw%}if field.value == name{%raw%} %}{%endraw%}
									selected
								{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
								>
								{%raw%}{{ {%endraw%}display{%raw%} }}{%endraw%}
							</option>
						{%raw%}{% {%endraw%}endfor{%raw%} %}{%endraw%}
					</select>
				</div>

			{%raw%}{# {%endraw%}Checkbox.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'CheckboxInput'{%raw%} %}{%endraw%}
				<div class="d-flex justify-content-center custom-control custom-switch my-2">
					<input id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="custom-control-input"
						type="checkbox"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}
							checked
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						/>
					<label for="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="custom-control-label">
						{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}
					</label>
				</div>

			{%raw%}{# {%endraw%}File.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'FileInput' or type == 'ClearableFileInput'{%raw%} %}{%endraw%}
				<div class="custom-file my-2">
					<input id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="custom-file-input"
						type="file"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						/>
					<label class="custom-file-label text-limit"
						for="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}">
						{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}
							{%raw%}{{ {%endraw%}field.value{%raw%} }}{%endraw%}
						{%raw%}{% {%endraw%}else{%raw%} %}{%endraw%}
							{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
					</label>
				</div>

			{%raw%}{# {%endraw%}Textarea.{%raw%} #}{%endraw%}
			{%raw%}{% {%endraw%}elif type == 'Textarea'{%raw%} %}{%endraw%}
				<div class="form-group">
					<textarea id="{%raw%}{{ {%endraw%}field.id_for_label{%raw%} }}{%endraw%}"
						class="form-control"
						rows="3"
						name="{%raw%}{{ {%endraw%}field.html_name{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}if field.field.required{%raw%} %}{%endraw%}
							required
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
						{%raw%}{% {%endraw%}if field.field.max_length{%raw%} %}{%endraw%}
							maxlength="{%raw%}{{ {%endraw%}field.field.max_length{%raw%} }}{%endraw%}"
						{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
							placeholder="{%raw%}{{ {%endraw%}field.label{%raw%} }}{%endraw%}">{%raw%}{% {%endraw%}if field.value{%raw%} %}{%endraw%}{%raw%}{{ {%endraw%}field.value{%raw%} }}{%endraw%}{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}</textarea>
				</div>

			{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}

		{%raw%}{% {%endraw%}endwith{%raw%} %}{%endraw%}
	{%raw%}{% {%endraw%}endfor{%raw%} %}{%endraw%}

</div>
