{%raw%}{% {%endraw%}for message in messages{%raw%} %}{%endraw%}
	<div class="alert alert-dismissible fade show m-0 rounded-0
		{%raw%}{% {%endraw%}if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG{%raw%} %}{%endraw%}
			alert-secondary
		{%raw%}{% {%endraw%}elif message.level == DEFAULT_MESSAGE_LEVELS.INFO{%raw%} %}{%endraw%}
			alert-info
		{%raw%}{% {%endraw%}elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS{%raw%} %}{%endraw%}
			alert-success
		{%raw%}{% {%endraw%}elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING{%raw%} %}{%endraw%}
			alert-warning
		{%raw%}{% {%endraw%}else{%raw%} %}{%endraw%}
			alert-danger
		{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
		">
		<button class="close" type="button" data-dismiss="alert">
			<i class="mdi mdi-close"></i>
		</button>
		{%raw%}{{ {%endraw%}message{%raw%} }}{%endraw%}
	</div>
{%raw%}{% {%endraw%}endfor{%raw%} %}{%endraw%}
