{%raw%}{% {%endraw%}load static{%raw%} %}{%endraw%}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		{%raw%}{% {%endraw%}block head{%raw%} %}{%endraw%}

			{%raw%}{# {%endraw%}Website title.{%raw%} #}{%endraw%}
			<title>
				{%raw%}{% {%endraw%}if page_title{%raw%} %}{%endraw%}
					{%raw%}{{ {%endraw%}page_title{%raw%} }}{%endraw%} |
				{%raw%}{% {%endraw%}endif{%raw%} %}{%endraw%}
				{%raw%}{{ {%endraw%}website.name{%raw%} }}{%endraw%}
			</title>

			{%raw%}{# {%endraw%}Website favorite icon.{%raw%} #}{%endraw%}
			<link rel="icon"
				type="image/png"
				href="{%raw%}{% {%endraw%}static '{{cookiecutter.project_slug}}/img/favicon.png'{%raw%} %}{%endraw%}" />

			{%raw%}{# {%endraw%}Meta elements.{%raw%} #}{%endraw%}
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />

			{%raw%}{# {%endraw%}CSS libraries.{%raw%} #}{%endraw%}
			<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" />
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
			{%if cookiecutter.mdbootstrap%}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.1/css/mdb.min.css" />{%endif%}

		{%raw%}{% {%endraw%}endblock head{%raw%} %}{%endraw%}
	</head>

	<body>

		{%raw%}{% {%endraw%}block body{%raw%} %}{%endraw%}
		{%raw%}{% {%endraw%}endblock body{%raw%} %}{%endraw%}

		{%raw%}{% {%endraw%}block js{%raw%} %}{%endraw%}

			{%raw%}{# {%endraw%}Javascript libraries.{%raw%} #}{%endraw%}
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
			{%if cookiecutter.mdbootstrap%}<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.1/js/mdb.min.js"></script>{%endif%}

		{%raw%}{% {%endraw%}endblock js{%raw%} %}{%endraw%}

	</body>

</html>
