{%raw%}{% {%endraw%}extends '{{cookiecutter.project_slug}}/base.html'{%raw%} %}{%endraw%}


{%raw%}{% {%endraw%}block body{%raw%} %}{%endraw%}
	{%raw%}{{ {%endraw%}block.super{%raw%} }}{%endraw%}

	{%raw%}{# {%endraw%}Messages.{%raw%} #}{%endraw%}
	{%raw%}{% {%endraw%}include '{{cookiecutter.project_slug}}/snippets/message_list.html'{%raw%} %}{%endraw%}

	<div class="container">

		{%raw%}{# {%endraw%}Main page content.{%raw%} #}{%endraw%}
		{%raw%}{% {%endraw%}block content{%raw%} %}{%endraw%}
		{%raw%}{% {%endraw%}endblock content{%raw%} %}{%endraw%}

	</div>

{%raw%}{% {%endraw%}endblock body{%raw%} %}{%endraw%}
